[submodule "LM-initial-data"]
	path = LM-initial-data
	url = ../LM-initial-data.git
[submodule "LM-inspiral"]
	path = LM-inspiral
	url = ../LM-inspiral.git
	update = none
[submodule "LM-ringdown"]
	path = LM-ringdown
	url = ../LM-ringdown.git
	update = none
