[submodule "LM-initial-data"]
	path = LM-initial-data
	url = git@github.com:LemaitreModels/LM-initial-data.git
[submodule "LM-inspiral"]
	path = LM-inspiral
	url = git@github.com:LemaitreModels/LM-inspiral.git
